{% extends 'GeoApp/base.html' %}

{% load static %}

{% block title %}
Проследование
{% endblock %}

{% block style %}

<style type="text/css">


</style>

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9  col-lg-8 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <section class="h-100 h-custom w-100">
                    <img src="{% static 'img/ocrv.png' %}" alt="My image">
                    <img src="{% static 'img/RZD.svg.png' %}" alt="My image">
                </section>
            </div>

        </main>
    </div>
</div>

<script>


</script>

{% endblock %}